*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap'); */
body{
    margin:0px;
    padding:0px;
}
.container{
    max-width:1460px;
    width:100%;
    padding:0px 10px;
    margin:0 auto;
}
h1,h2,h3,h4,h5,h6{
    margin:0px;
    padding:0px;
}
p{
    margin:0px;
    padding:0px;
}
ul{
    list-style: none;
    margin:0px;
    padding:0px;
}
a{
    text-decoration:none;
}
.btn {
    border: none;
    background-color: transparent;
    font-size: 14px !important;
    transition: all .3s linear;
    font-weight: 500;
}
input,textarea,button{
    outline:none;
    font-size:14px;
}
::placeholder{
    font-size: 14px;
    font-weight: 500;
    color:rgba(0,57,83, .5);
}
.sectionPadding{
    padding:40px 0px;
}
